<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <title>Stories4Me</title>
</head>
<body class="w3-padding">
    <h1>Stories4Me</h1>
    <div class="w3-bar w3-light-gray">
        <a href="/" class="w3-bar-item w3-button">Home</a>
        <a href="create" class="w3-bar-item w3-button w3-green">Create</a>
    </div>
    <br><br>

    <form action="" method="post">
        <input type="text" name="title" class="w3-input" placeholder="Title">
        <br><br>
        <textarea name="story" id="" cols="30" rows="10" class="w3-input" placeholder="Your Story"></textarea>
        <br><br>
        <input type="submit" value="Publish" class="w3-button w3-green">
    </form>
</body>
</html>